[{:itonami.blueprint/social-impact [:sustainable-agriculture :knowledge-preservation :soil-health :pest-management], :itonami.blueprint/domain :agriculture/advisory, :itonami.blueprint/required-technologies [:identity :forms :dmn :bpmn :audit-ledger], :itonami.blueprint/isco-08 "2132", :itonami.blueprint/name "Farming, Forestry and Fisheries Adviser", :itonami.blueprint/governor :farm-advisory-governor, :itonami.blueprint/robotics false, :db/id -1, :itonami.blueprint/status :public-oss, :itonami.blueprint/id "cloud-itonami-isco-2132", :itonami.blueprint/license "AGPL-3.0-or-later"}]
